.Carousel-background{
    background-color: #fceae8;
}

.img-size img{
    width: 100px;
}

.button{
        background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
        color: white;
        border: none;
        border-radius: 8px;
        padding:9px 25px;
}

.button:hover{
    background-image: linear-gradient(to bottom, #e40d63 0%, #f50863 100%);
}